c0depool-talos-cluster-talos-master-00.yaml
c0depool-talos-cluster-talos-master-01.yaml
c0depool-talos-cluster-talos-master-02.yaml
c0depool-talos-cluster-talos-worker-00.yaml
c0depool-talos-cluster-talos-worker-01.yaml
c0depool-talos-cluster-talos-worker-02.yaml
talosconfig
